/* General styles for all screen sizes */
nav {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    background-color: black;
    z-index: 1000;
    position: relative;
}

nav .logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

nav .logo-1 {
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    flex: 1;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    border-radius: 20px;
    background-color: #000000;
    transition: background-color 0.5s, color 0.5s, ease-in 0.5s;
}

nav ul li:hover {
    background-color: #ffffff;
    color: #000000;
}

nav ul li a {
    color: #6bbc43;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
    transition: color 0.5s;
}

nav ul li:hover a {
    color: #6bbc43;
}

nav .logo-button-container {
    margin-right: 1.5rem;
    text-decoration: none;
}

button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-1 {
    font-weight: 700;
    color: #000001;
    background-color: #95DD4C;
    border-radius: 28px;
}

.btn-1 a {
    text-decoration: none;
    color: #000001;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0.2rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        display: flex;
    }
    
    nav .menu {
        display: flex;
    }
    
    nav ul {
        display: none;
        width: 100%;
        margin-bottom: 0.25rem;
        background-color: black;
    }
    nav ul.open {
        display: flex;
    }
    nav ul li {
        width: 100%;
        text-align: center;
    }
    nav ul li a {
        margin: 0.2rem 0.5rem;
        padding: 1rem;
        width: 100%;
    }

    nav .logo-1 {
        display: flex;
        margin-right: auto;
        margin-left: 0;
    }
    
    nav .logo-button-container { 
        width: 80%;
        display: flex;
        position: absolute;
        z-index: -2;
        justify-content: center;
        margin-right: 0;
        margin-top: 1rem;
    }

    .btn-1 {
        display: none; /* Hide button on screens smaller than 768px */
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        display: flex;
    }
    
    nav .menu {
        display: flex;
    }
    
    nav ul {
        display: none;
        width: 100%;
        margin-bottom: 0.25rem;
        background-color: black;
    }
    nav ul.open {
        display: flex;
    }
    nav ul li {
        width: 100%;
        text-align: center;
    }
    nav ul li a {
        margin: 0.2rem 0.5rem;
        padding: 1rem;
        width: 100%;
    }

    nav .logo-1 {
        display: flex;
        margin-right: auto;
        margin-left: 0;
    }
    
    nav .logo-button-container { 
        width: 80%;
        display: flex;
        position: absolute;        
        z-index: -2;
        justify-content: center;
        margin-right: 0;
        margin-top: 1rem;
    }

    .btn-1 {
        display: none; /* Hide button on screens smaller than 480px */
    }
}


@media (min-width: 1024px) {
    nav {
        justify-content: space-between;
    }

    nav ul {
        display: flex;
    }

    nav ul li a {
        font-size: 1.1rem;
        padding: 0.75rem 1.5rem;
    }

    nav .logo-button-container {
        margin-right: 2rem;
    }
}
